@font-face {
    font-family: MyRoboto;
    src: url("assets/fonts/en/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: MyOpenSans;
    src: url("assets/fonts/en/Open_Sans/OpenSans-Regular.ttf");
}

@font-face {
    font-family: MyIranSans;
    src: url("assets/fonts/fa/IranSans/iransansweb.ttf");
}

body, html {
    margin: 0;
    height: 100%;
    font-family: 'MyIranSans', 'MyOpenSans';
}

.app-container {
    width: 100%;
    height: 100%;
    margin: 0;
}

.app-top-menu {
    position: fixed;
    top: 0;
    height: 64px;
    width: 100%;
    z-index: 2;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-color: gray;
    border-bottom-width: 1px;
}

.app-brand-box {
    display: table;
    background-color: #37474f;
    width: 240px;
    height: 64px;
}
.app-brand-title {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 24px;
}

.app-side-bar {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 64px;
    height: 100%;
    width: 240px;
    background-color: #263238;
}

.menu {
    color: white;
    padding-left: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    cursor: pointer;
    font-size: 18px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #2e4049;
}

.menu-ul {
    display: none;
    list-style: none;
    background-color: #2c383f;
    margin: 0;
    border-left: 2px;
    border-left-style: solid;
    border-left-color: #f57c00;
}

.menu-li {
    color: #cfd8dc;
    padding: 8px 8px 8px 8px;
    cursor: pointer;
    font-size: 16px;
}

